[submodule "libraries/Roact"]
	path = libraries/Roact
	url = https://github.com/Roblox/roact
[submodule "libraries/MockDataStoreService"]
	path = libraries/MockDataStoreService
	url = https://github.com/buildthomas/MockDataStoreService
[submodule "libraries/Rodux"]
	path = libraries/Rodux
	url = https://github.com/Roblox/rodux
[submodule "libraries/Llama"]
	path = libraries/Llama
	url = https://github.com/F-RDY/llama
[submodule "libraries/testez"]
	path = libraries/testez
	url = https://github.com/Roblox/testez
[submodule "libraries/RoactAnimate"]
	path = libraries/RoactAnimate
	url = https://github.com/thenerdie/roact-animate
[submodule "libraries/t"]
	path = libraries/t
	url = https://github.com/osyrisrblx/t
